{{#each redirects}}
<div>
  <div class="flex items-center gap-2">
    From:
    <label class="grow text-gray-500">
      <span class="hidden:sm:show">https://{{ domain }}</span
      >/{{ this.pathname }}
    </label>
    <button
      data-copy="https://{{ domain }}/{{ this.pathname }}"
      type="button"
      title="Copy link to clipboard"
      tabindex="-1"
      class="icon"
    >
      <i class="fa-solid fa-link"></i>
    </button>
    <button
      data-remove
      type="button"
      title="Delete redirection"
      tabindex="-1"
      class="icon"
    >
      <i class="fa-solid fa-trash"></i>
    </button>
  </div>
  <div>
    To:
    <label class="text-gray-500">{{ this.destination }}</label>
  </div>
</div>
{{/each}}
